.films-gallery-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 75px;
    padding-right: 75px;
    width: 768px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 71px;
    padding-right: 71px;
    width: 1024px;
  }
}

.films-gallery {
  margin-bottom: 40px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
    margin-bottom: 50px;
  }
}

.films-gallery-item {
  width: 280px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 294px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
    margin-right: 30px;
  }

  // Кожний непарний елемент має правий відступ
  &:nth-child(2n + 1) {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin-right: 30px;
    }
  }

  // Два останні елементи не мають нижнього відступу
  &:nth-last-child(-n + 2) {
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  // Кожен третій елемент не має правого відступу
  &:nth-child(3n + 3) {
    @media screen and (min-width: 1024px) {
      margin-right: 0px;
    }
  }

  // Кожен останній елемент не має нижнього і правого відступу
  &:last-child {
    margin-bottom: 0px;

    @media screen and (min-width: 768px) {
      margin-right: 0px;
    }
  }
}

.films-gallery-item-image {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 294px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}

// .films-gallery-item-description {
//   margin: 0px;
// }

.films-gallery-item-title,
.films-gallery-item-info {
  margin-top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
}

.films-gallery-item-title {
  margin-bottom: 5px;

  color: #000000;
  text-transform: uppercase;
}

.films-gallery-item-info {
  margin-bottom: 0px;

  color: #ff6b08;
}

.films-gallery-warning {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

// .films-gallery-search {
//   padding-left: 20px;
//   padding-right: 20px;
//   margin-bottom: 40px;
//   width: 320 px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   justify-content: center;
//   @media screen and (min-width: 768px) {
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 75px;
//     padding-right: 75px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin-right: -25px;
//   }
// }
