.open-modal-develop {
  text-decoration: underline;
  cursor: pointer;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom right,
    rgb(209, 199, 186),
    rgb(198, 188, 170),
    rgb(187, 177, 153),
    rgb(175, 165, 137),
    rgb(164, 154, 120),
    rgb(153, 143, 104)
  );

  @media screen and (max-width: ($tablet - 1)) {
    margin-top: 610px;
    justify-content: center;
  }
  width: 240px;
  background-color: $white;
  border-radius: 15px;

  @media screen and (min-width: $tablet) {
    width: 600px;
    border-radius: 25px;
    margin-top: 150px;
  }

  @media screen and (min-width: $desktop) {
    margin: -30px;
    width: 800px;
  }
}

.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;
  width: calc((100% - 80px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 160px) / 4);
    margin: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin: 20px;
    width: calc((100% - 240px) / 6);
  }
  &:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
}

.team-image {
  margin-bottom: 5px;
  width: 100%;
  border-radius: 50%;
}

.team-name {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
  font-family: $mainFont;
  font-weight: 700;
}

.team-role {
  font-family: $mainFont;
  font-size: 14px;
  color: $accentColor;
  @media screen and (max-width: ($tablet - 1)) {
    font-size: 12px;
  }
}
.basicLightbox {
  overflow: scroll;
}
