.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  background-color: $white;
  overflow: auto;
  pointer-events: initial;
  // text-align: center;
}

.footer-heart-svg {
  background-image: url(../images/heart.svg);
  width: 14px;
  height: 12.88px;
}
