.modal {
  background: $white;

  &.is-hidden {
    display: none;
  }
}

.modal-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-image {
  width: 280px;
  height: 416px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border-radius: 5px;

  background: $dark;
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
  }
}

.modal-info {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.modal-info-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.172;
  text-transform: uppercase;
  color: $dark;
}

.modal-info-vote,
.modal-info-popularity,
.modal-info-title-original {
  margin-top: 0px;
  margin-bottom: 10px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.modal-info-vote-average,
.modal-info-vote-count {
  display: inline-block;
  padding: 1px 5px;
  border-radius: 5px;

  line-height: 1.172;
  text-align: center;
}

.modal-info-vote-average {
  margin-left: 41px;
  margin-right: 3px;

  color: $white;
  background-color: $accentColor;
}

.modal-info-vote-average.library {
  margin-left: 10px;
}

.modal-info-vote-count {
  margin-left: 3px;

  color: $dark;
  background-color: #f7f7f7;
}

.modal-info-popularity-data {
  margin-left: 53px;

  line-height: 1.172;
  color: $dark;
}

.modal-info-title-original-data {
  margin-left: 39px;

  line-height: 1.333;
  text-transform: uppercase;
  color: $dark;
}

.modal-info-genres {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-info-genres-text,
.modal-info-genres-text-list {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: $dark;
}

.modal-info-genres-text-list {
  margin-left: 76px;
}

.modal-info-genres-text-list-data {
  margin-right: 3px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.modal-info-about {
  margin-top: 0px;
  margin-bottom: 10px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  text-transform: uppercase;
  color: $dark;
}

.modal-info-description {
  margin-top: 0px;
  margin-bottom: 40px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
}

.card-text,
.modal-info-title-original-data,
.modal-info-genres-text-list {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.card-text {
  color: #8c8c8c;
}

.modal-info-buttons-list {
  display: flex;
}

.modal-info-buttons-list-item {
  min-width: 132px;
  height: 44px;
  margin-right: 15px;
  border: 1px solid $dark;
  border-radius: 5px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  color: $dark;
  background-color: $white;
  transition: all 200ms ease-in-out;

  &:hover {
    border: 1px solid $accentColor;
    box-shadow: 1px 1px 3px 3px rgb(255, 102, 0);
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &.is-active-btn {
    color: $white;
    background: $accentColor;
    border: 1px solid $accentColor;
  }
}

@media screen and (min-width: 768px) {
  .modal-container {
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
  }

  .modal-image {
    width: 294px;
    height: 416px;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 0px;
  }

  .modal-info {
    width: 294px;
    margin-left: 0;
  }

  .modal-info-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 30px;
  }

  .modal-info-description {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-container {
    padding-left: 71px;
    padding-right: 71px;
  }

  .modal-image {
    width: 426px;
    height: 514px;
  }

  .modal-info {
    width: 426px;
    margin-left: 0;
  }
}
